*.lnk
Framework/Wrappers/TaggedValues/README.txt
Framework/Wrappers/TaggedValues/Working Copy of README.stackedit.md
Framework/Wrappers/TaggedValues/README.stackedit.md
Atrias Scripts/MIG_Replace_Datatype.vbs